.todo__container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container__profile {
	width: 90%;
	height: auto;
	border: 1px solid #eeee;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}
.profile__title {
	padding: 20px;
	padding-left: 30px;
}
.container__form--profile {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	background: #f7fafc;
}
.form__title {
	flex: 0 1 100%;
	font-size: 0.75rem;
	padding: 30px;
	padding-left: 30px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #8898aa;
}
.form__edit {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-left: 60px;
	padding-right: 60px;
	flex: 1 0 60%;
}
form {
	width: 100%;
	display: inline-block;
}
.user__profile {
	width: 40%;
	display: flex;
	flex-direction: column;
	float: right;
	padding-right: 60px;
	flex: 1 0 40%;
}
.user__img {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	&::before {
		content: "";
		background: #000;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transition: all 0.3s;
		z-index: 1;
	}
	&:hover {
		&::before {
			opacity: 0.6;
		}
		.input__img {
			label {
				padding: 20px;
				display: block;
				cursor: pointer;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		position: relative;
	}
	.input__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		.avatar {
			display: none;
		}
		label {
			display: none;
			color: #f7fafc;
		}
	}
}
.info {
	text-align: center;
	.info__name {
		line-height: 1.5;
		margin-bottom: 7px;
		margin-top: 20px;
	}
}
.button__info {
	display: block;
	margin: 20px auto;
	.btn {
		padding: 10px 30px;
	}
}
