@import "../layouts/todofilter";
.todo-list {
  width: 60%;
  .todo__title {
    margin-bottom: 35px;
  }
}
.todo__form {
  position: relative;
}
.todo__input {
  width: 100%;
  padding: 14px 18px;
  font-size: 18px;
  margin-bottom: 16px;
  &:focus {
    outline: 0;
  }
}
.todo__button {
  width: 9%;
  position: absolute;
  top: 4.5px;
  right: 4.5px;
}
.todo-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.edit-item {
  font-size: 13px;
  line-height: 100%;
  cursor: pointer;
  .fa-check {
    margin-right: 25px;
  }
}
.remove-item {
  cursor: pointer;
  margin-left: 14px;
  &:hover {
    color: black;
  }
}
.todo-item-left {
  display: flex;
  align-items: center;
  .todo-checkbox {
    width: 25px;
    margin-bottom: 0;
  }
}
.todo-item-label {
  padding: 10px;
  margin-left: 12px;
  margin-bottom: 5px;
  font-size: 15px;
}
.todo-item-edit {
  margin-bottom: 5px;
  margin-left: 10px;
}
.completed {
  text-decoration: line-through;
  color: grey;
}
.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
}
.name-container {
  margin-bottom: 16px;
}

.active {
  background: lightgreen;
}
.todo__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  &--container {
    padding: 50px 50px 0 50px;
  }
}
.button__popup {
  display: flex;
  justify-content: flex-end;
  margin: 33px 0;
  .fas:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(-5px);
  }
  .fa-check {
    color: rgb(42, 160, 42);
  }
  .fa-times {
    margin-left: 30px;
    color: rgb(185, 47, 47);
  }
}
.function__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
